body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content {
  display: flex;
  height: 80vh;
  width: 80vw;
  border-radius: 10px;
}

.hero-section {
  position: relative;
  width: 40%;
  background-size: 100% 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-credit {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

p {
  color: white;
  font-size: 0.7rem;
  text-align: center;
}

.form-section {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 60%;
}

.description {
  /* height: 20%; */
  background-color: blueviolet;
}

.form {
  background-color: aqua;
}

.create-acc {
  background-color: aquamarine;
}
